<!DOCTYPE html>
<html xmlns="http://www/w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">

<head>
<title>Samsung Shop</title>
</head>
<body>
	<div align="center" style="padding-top: 150px">
		<form action="">
			<h2>Đăng nhập</h2>
			<table border="0" cellpadding="10">
				<tr>
					<td>Email:</td>
					<td><input type="text" size="30" /></td><br>
				</tr>
				<tr>
					<td>Mật khẩu:</td>
					<td><input type="password" size="30" /></td>
				</tr>
				<tr>
					<td style="padding-top: 30px" align="right"><a href="/reset">Quên mật khẩu?</a></td>
				</tr>
				<tr>
					<td colspan="2" align="center"><input type="button" value="Đăng nhập" style="margin-top: 50px"></td>
				</tr>
			</table>

		</form>
	</div>

</body>