<!DOCTYPE html>
<html xmlns="http://www/w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>Samsung Shop</title>
</head>
<body>
	<div align="center" style="padding-top: 150px">
		<form action="#" th:action="@{/registerUser}" th:object="${register}" method="post">
			<h1>Đăng Ký</h1>
			<table border="0" cellpadding="10">
				<tr>
					<td>Email:</td>
					<td><input type="email" size="30" name="email" th:field="*{email}"/></td>
					<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email erorr</span><br />
				</tr>
				<tr>
					<td>Mật khẩu:</td>
					<td><input type="password" size="30"  th:field="*{pass}"/></td>
					<span th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}">Password erorr</span><br />
				</tr>
				<tr>
					<td>Xác nhận mật khẩu:</td>
					<td><input type="password" size="30" name="confirm" /></td>
				</tr>
				<tr>
					<td colspan="2" align="center" style="padding-top: 30px"  >
						<button type="submit">Đăng ký</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>